# Database configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5435
POSTGRES_DB=db
POSTGRES_USER=db_user
POSTGRES_PASSWORD=sljM>LJSDDSlsq87we
DATABASE_URL=postgresql+asyncpg://db_user:sljM>LJSDDSlsq87we@localhost:5435/db

REDIS_PASSWORD=lsjdfsfsdfsdfd
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT configuration
SECRET_KEY=5530d2d8201a9e8844e5b670b33047c6f2635cd12288186c4a9373ca704f76eb
ALGORITHM=HS256
ACCESS_TOKEN_EXP_MINUTES=30
REFRESH_TOKEN_EXP_DAYS=30

# Environment (dev or prod)
ENVIRON=dev

# Limits
ONLY_ALLOWED_USERNAMES_MODE=false
ALLOWED_USERNAMES=any_name1,any_name2

# Yandex SmartCaptcha
# Получить ключи: https://yandex.cloud/ru/docs/smartcaptcha/quickstart
SMARTCAPTCHA_SITE_KEY=
SMARTCAPTCHA_SECRET_KEY=
